body{
    background-color: #6bc3d3;
    text-align: center;
    
}

h3{
    font-size: 40px;
    background-color: #c5e0ff;
}

label{
    font-size: 20px;
    background-color: white;
    border-bottom: 3px solid #f0cf71; 
    list-style-type: "\1F1E8\1F1F3";
}
/*
li.con + li{
    padding-top: 20px;
}
    */

li{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    list-style: none;
    padding: 5px;
}

div#result {
	display: grid;
	grid-template-columns: 1fr;
    grid-auto-rows: 40px ;
    grid-gap: 10px;
	width: 350px;
}

div#zentai > div#result {
	margin: 5px auto;
	background-color: white;
}
